[Unit]
Description=Tango Starter service
Requires=network-online.target nss-lookup.target
Wants=tangorc.service
After=network-online.target tangorc.service nss-lookup.target
Conflicts=shutdown.target
RequiresMountsFor=/runtime

[Service]
User=controls
Group=controls
ExecStart=/bin/sh -c 'sleep 1; exec /usr/bin/Starter `hostname`'
KillMode=process
RestartSec=5s
Restart=on-failure

[Install]
WantedBy=multi-user.target
